*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* nav section code start */
.navbar
{
    position: relative;
    height: auto;
}
.navbar-brand 
{
    display: flex;
    align-items: center;
}
.navbar-brand span
{
    margin-left: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: .9;
}
.navbar-nav .nav-link.active
{
    color: #FA4A6F;
    position: relative;
}
.navbar-nav .nav-link.active::after
{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #FA4A6F;
}
.navbar-nav .nav-link
{
    position: relative;
    color: #23273A;
}
.navbar-nav .nav-link:hover
{
    color: #FA4A6F;
}
.navbar .Log-in a
{
    text-decoration: none;
    color: #23273A;
    cursor: pointer;
}
.navbar .Log-in a:hover
{
    color: #FA4A6F;
}
.navbar .Log-in a:last-child
{
    background-image: linear-gradient(to bottom, #FA4A6F, #532B79);
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
}
/* header section code start */
header
{
    width: 100%;
    background: url(../images/Banner.jpg);
    background-size: cover;
}
header .create-page h2
{
    width: 60%;
    font-weight: 500 !important;
    line-height: 1 !important;
}
header .create-page form
{
    background-color: #fff;
    width: 100%;
    padding: 20px;
}
header .create-page form h4
{
    font-size: 20px;
    text-align: center;
    padding: 25px;
}
header .create-page form label
{
    color: #23273A;
    opacity: 0.7;
}
header .create-page input
{
    margin-top: 5px;
}
header .create-page ::placeholder
{
    color: #23273A;
}
header .create-page .form-group
{
    margin-bottom: 20px;
}
header .create-page form .level-flex
{
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(86, 88, 97, 0.411);
    padding: 3px;
    border-radius: 6px;
}
header .create-page form .level-flex select, input
{
    width: 100%;
    border: none;
    outline: none;
}
header .create-page form .level-flex select
{
    width: 70%;
    border-right: solid rgba(56, 58, 70, 0.357);
}
header .create-page form .level-flex input
{
    margin-left: 10px;
}
header .create-page form .level-flex select, input {
    width: auto;
    border: none;
    outline: none;
}
header .create-page form label {
    display: initial;
    font-size: 15px;
}
header .create-page form label a 
{
    display: inline-block;
    font-weight: 400;
    /* color: #12141f; */
    color: #FA4A6F;
}
header .create-page form button
{
    background-image: linear-gradient(to bottom, #FA4A6F, #532B79);
    color: #fff;
}
header .create-page form
{
    padding-bottom: 3rem;
    border-radius: 3px;
}

/* profile sectiton code start */
.sign-up
{
    position: relative;
    width: 230px;
    height: 250px;
    background: #fff;
    border-radius: 30px;
    z-index: 1;
}
.sign-up::before
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    background-image: linear-gradient(to bottom, #FA4A6F, #532B79);
    border-radius: 30px;
    z-index: -4;
    visibility: hidden;
    transition: .5s all;
}
.sign-up::after
{
    position: absolute;
    content: '';
    width: 228px;
    height: 248px;
    top: 0;
    left: 0;
    background: #ffffff;
    inset: 1px;
    border-radius: 30px;
    z-index: -2;
    visibility: hidden;
    transition: .5s all;
}
.sign-up:hover.sign-up::after,
.sign-up:hover.sign-up::before
{
    visibility: visible;
    transition: .5s all;
}
.sign-up p
{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 90px;
    padding: 40px 25px;
}
.sign-up a
{
    display: inline-block;
    margin: 15px 0;
    text-decoration: none;
    font-size: 22px;
    color: #23273A;
    font-weight: 400;
    transition: .5s all;
}
.sign-up:hover a
{
    color: #FA4A6F;
}
.sign-up a i
{
    margin-left: 60px;
    color: #FA4A6F;
    visibility: hidden;
    transition: .5s all;
}
.sign-up:hover a i
{
    visibility: visible;
}
.sign-up span
{
    font-size: 16px;
    font-weight: 400;
    color: #23273A;
}
/* profile sectiton code end */

/* featured profile section code start */
.featured
{
    background: #FBFAFE;
}
/* featured profile section code end */

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }

  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }
  .featured .card-profile
  {
    border-radius: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .featured .card-profile img
  {
    border-radius: 20px;
  }
  .featured .card-profile p
  {
    font-size: 18px;
    font-weight: 400;
    color: #FA4A6F;
    margin: 10px 0;
    padding: 0 10px;
  }
  .featured .card-profile p span
  {
    font-size: 14px;
    color: #23273A;
  }
  .featured .card-profile
  {
    background: #fff;
    transition: .5s all;
    cursor: pointer;
    box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 0.45);
  }
  .featured .card-profile img
  {
    transition: .5s all;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .slick-prev:before, .slick-next:before
  {
    color: #FA4A6F;
  }
  .slick-prev:before {
    position: absolute;
    content: '';
    background: url(../images/Icon/left-angel.png);
    width: 15px;
    height: 27px;
}
.slick-next:before {
    position: absolute;
    content: '';
    background: url(../images/Icon/right-angel.png);
    width: 15px;
    height: 27px;
}

/* profile secure section start */
.profile-secure .profile-secure-img-box
{
    width: 300px;
    height: 425px;
    background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255, 0.5)), url(../images/profile-secure-1.jpg);
    border-radius: 20px;
    transform: rotate(-30deg);
}
.profile-secure .profile-secure-img-box img
{
    width: 100%;
    display: block;
    object-fit: cover;
    transform: translate(80px, -50px);
    rotate: 30deg;
    box-shadow: 0px 50px 20px rgba(151, 143, 143, .2);
}
.profile-secure .card-content ul
{
    margin-left: 0px ;
    padding-left: 0px;
}
.profile-secure .card-content ul li
{
    list-style: none;
    justify-content: start;
    align-items: center;
    margin: 2px 0;
    padding: 10px 0;
}
.profile-secure .card-content ul li i
{
    margin-right: 15px;
}
.profile-secure .card-content ul li:nth-child(2)
{
    border-top: 1px solid rgba(35, 39, 58, 0.247);
    border-bottom: 1px solid rgba(35, 39, 58, 0.247);
}
/* profile secure section end */

/* success stories section start */
.success
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #23273A, #23273A, #FA4A6F);
    border-radius: 15px;
}
.success::after
{
    position: absolute;
    content: '';
    left: -13%;
    bottom: -35%;
    width: 600px;
    height: 600px;
    background: rgba(52, 28, 75, 0.2);
    border-radius: 0 15%;
    transform: rotate(129deg);
}
.success .success-title h2,p
{
    color: #fff;
}
.success .success-title a
{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #FA4A6F, #532B79);
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    opacity: .9;
    letter-spacing: 0.01em;
    transition: .5s all;
}
.success .success-title a:hover
{
    opacity: 1;
    letter-spacing: 0.01em;
}
.success .success-title a:hover i
{
    color: #FA4A6F;
    transition: .5s all;
}
.success .success-card 
{
    justify-content: space-between;
}
.success .success-card ul
{
    margin: 0;
    padding: 0;
}
.success .success-card ul li
{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 15px 10px;
}
.success .success-card ul li img
{
    border-radius: 10px 10px 0px 0px;
}
.success .success-card ul li img
{
    width: 100%;
    display: block;
    object-fit: cover;
}
.success .success-card ul li span
{
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
    color: #FA4A6F;
}
.success .success-card ul li h3
{
    font-size: 20px;
    padding: 0 20px 20px 20px;
}
.success .success-card .success-card-stories li:nth-child(3)::after
{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #FA4A6F);
    box-shadow: 0px 15px 10px #FA4A6F;
}
.success .success-card .success-card-stories1 li:nth-child(1)::after
{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, transparent, #23273A);
    box-shadow: 0px -20px 20px #23273A;
}
/* success stories section end */

/* membership section start */
.membership .membership-card
{
    background: transparent;
    position: relative;
    width: 70%;
    margin: 0px 0px 0px auto;
    border-radius: 15px;
    margin-top: 30px;
    padding-top: 50px;
    transition: .5s all;
}
.membership .membership-card::after
{
    position: absolute;
    content: '';
    top: 35px;
    right: 0;
    width: 100%;
    height: 70px;
    background: #532B79;
    border-radius: 15px 15px 0px 0px;
    z-index: -10;
    opacity: 0;
    transition: .5s all;
}
.membership .membership-card:hover::after
{
    opacity: 1;
}
.membership .membership-card h5
{
    opacity: 0;
    transition: .5s all;
}
.membership .membership-card:hover h5
{
    opacity: 1;
}
.membership .membership-card-inner
{
    position: relative;
    padding: 40px;
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px auto;
}
.membership .membership-card-inner::before
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    background-image: linear-gradient(to bottom, #FA4A6F, #532B79);
    border-radius: 15px;
    z-index: -4;
    transition: .5s all;
    opacity: .2;
}
.membership .membership-card:hover .membership-card-inner::before
{
    opacity: 1;
}
.membership .membership-card-inner::after
{
    position: absolute;
    content: '';
    width: 99.5%;
    height: 99.7%;
    top: 0;
    left: 0;
    background: #ffffff;
    inset: 1px;
    border-radius: 15px;
    z-index: -2;
    transition: .5s all;
    opacity: 1;
}
.membership .membership-card-inner span
{
    font-size: 50px;
    color: #FA4A6F;
    font-weight: 600;
}
.membership .membership-card-inner span sub
{
    font-size: 16px;
    color: #91939c;
    font-weight: 400;
}
.membership .membership-card-inner h6
{
    font-size: 20px;
    margin: 0px 0px 10px 0px;
    border-bottom: 1px solid #FA4A6F;
    padding-bottom: 20px;
}
.membership .membership-card-inner ul
{
    margin: 30px 0;
    list-style: none;
}
.membership .membership-card-inner ul li::before {
    content: "\2022";
    color: #23273A;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
.membership .membership-card-inner ul li
{
    margin: 15px 0px;
    color: #91939c;
    transition: .5s all;
}
.membership .membership-card-inner ul li:nth-child(1),
.membership .membership-card-inner ul li:nth-child(2),
.membership .membership-card-inner ul li:nth-child(3)
{
    color: #23273A;
}
.membership .membership-card:hover .membership-card-inner ul li
{
    color: #23273A;
}
.membership .membership-card-inner a
{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to bottom, #FA4A6F, #532B79);
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    opacity: .9;
    letter-spacing: 0.01em;
    transition: .5s all;
    opacity: 0;
}
.membership .membership-card:hover .membership-card-inner a
{
    opacity: 1;
}

.membership .membership-card1
{
    background: transparent;
    position: relative;
    width: 70%;
    margin: auto 0px 0px 0px;
    border-radius: 15px;
    margin-top: 30px;
    padding-top: 50px;
    transition: .5s all;
}
.membership .membership-card1::after
{
    position: absolute;
    content: '';
    top: 35px;
    right: 0;
    width: 100%;
    height: 70px;
    background: #532B79;
    border-radius: 15px 15px 0px 0px;
    z-index: -10;
    opacity: 0;
    transition: .5s all;
}
.membership .membership-card1:hover::after
{
    opacity: 1;
}
.membership .membership-card1 h5
{
    opacity: 0;
    transition: .5s all;
}
.membership .membership-card1:hover h5
{
    opacity: 1;
}
.membership .membership-card1:hover .membership-card-inner::before
{
    opacity: 1;
}
.membership .membership-card1:hover .membership-card-inner ul li
{
    color: #23273A;
}
.membership .membership-card1:hover .membership-card-inner a
{
    opacity: 1;
}
@media (max-width: 768px) {
    .membership .membership-card,
    .membership .membership-card1
    {
        margin: 0 auto;
    }
.membership .membership-card-inner::after
    {
        position: absolute;
        content: '';
        width: 99.5%;
        height: 99.6%;
    }
}
/* membership section end */

/* testimonial section start */
.testimonial
{
    background: #FBFAFE;
}
.testimonial .testimonial-profile .testimonial-profile-header i
{
    color: #FA4A6F;
}
.testimonial .testimonial-profile .testimonial-profile-footer 
{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.testimonial .testimonial-profile .testimonial-profile-footer span
{
    margin-left: 10px;
}

.testimonial .slick-slide {
    margin: 0px 20px;
  }
.testimonial .slick-slide img {
    width: auto;
  }
.testimonial .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
.testimonial .slick-active {
    opacity: 1;
  }

.testimonial .slick-current {
    opacity: 1;
  }
.slick-prev:before, .slick-next:before
  {
    color: #FA4A6F;
    visibility: hidden;
  }
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #FA4A6F;
}
.slick-dots li button:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #FA4A6F;
    border-radius: 50%;
    opacity: .25;
    margin: 20px 15px 15px 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* testimonial section end */