*{
    font-family: 'Poppins', sans-serif;
}
/* nav section code start */
.navbar
{
    height: 100px;
}
.navbar-brand 
{
    display: flex;
    align-items: center;
}
.navbar-brand span
{
    margin-left: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: .9;
}
.navbar-nav .nav-link.active
{
    color: #FA4A6F;
    position: relative;
}
.navbar-nav .nav-link.active::after
{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #FA4A6F;
}
.navbar-nav .nav-link
{
    position: relative;
    color: #23273A;
}
.navbar-nav .nav-link:hover
{
    color: #FA4A6F;
}
.navbar .Log-in a
{
    text-decoration: none;
    color: #23273A;
    cursor: pointer;
}
.navbar .Log-in a:hover
{
    color: #FA4A6F;
}
.navbar .Log-in a:last-child
{
    background-image: linear-gradient(to bottom, #FA4A6F, #532B79);
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
}
/* header section code start */
header
{
    width: 100%;
    background: url(../images/Banner.jpg);
    background-size: cover;
}
header .create-page h2
{
    width: 60%;
    font-weight: 500 !important;
    line-height: 1 !important;
}
header .create-page form
{
    background-color: #fff;
    width: 100%;
    padding: 20px;
}
header .create-page form h4
{
    font-size: 20px;
    text-align: center;
    padding: 25px;
}
header .create-page form label
{
    color: #23273A;
    opacity: 0.7;
}
header .create-page input
{
    margin-top: 5px;
}
header .create-page ::placeholder
{
    color: #23273A;
}
header .create-page .form-group
{
    margin-bottom: 20px;
}
header .create-page form .level-flex
{
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(86, 88, 97, 0.411);
    padding: 3px;
    border-radius: 6px;
}
header .create-page form .level-flex select, input
{
    width: 100%;
    border: none;
    outline: none;
}
header .create-page form .level-flex select
{
    width: 70%;
    border-right: solid rgba(56, 58, 70, 0.357);
}
header .create-page form .level-flex input
{
    margin-left: 10px;
}
header .create-page form .level-flex select, input {
    width: auto;
    border: none;
    outline: none;
}
header .create-page form label {
    display: initial;
    font-size: 15px;
}
header .create-page form label a 
{
    display: inline-block;
    font-weight: 400;
    /* color: #12141f; */
    color: #FA4A6F;
}
header .create-page form button
{
    background-image: linear-gradient(to bottom, #FA4A6F, #532B79);
    color: #fff;
}
header .create-page form
{
    padding-bottom: 3rem;
    border-radius: 3px;
}