*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* nav section code start */
.navbar
{
    position: relative;
    height: auto;
}
.navbar-brand 
{
    display: flex;
    align-items: center;
}
.navbar-brand span
{
    margin-left: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: .9;
}
.navbar-nav .nav-link.active
{
    color: #FA4A6F;
    position: relative;
}
.navbar-nav .nav-link.active::after
{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #FA4A6F;
}
.navbar-nav .nav-link
{
    position: relative;
    color: #23273A;
}
.navbar-nav .nav-link:hover
{
    color: #FA4A6F;
}
.navbar .Log-in a
{
    text-decoration: none;
    color: #23273A;
    cursor: pointer;
}
.navbar .Log-in a:hover
{
    color: #FA4A6F;
}
.navbar .Log-in a:last-child
{
    background-image: linear-gradient(to bottom, #FA4A6F, #532B79);
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
}
/* header section code start */
header
{
    width: 100%;
    background: url(../images/Banner.jpg);
    background-size: cover;
}
header .create-page h2
{
    width: 60%;
    font-weight: 500 !important;
    line-height: 1 !important;
}
header .create-page form
{
    background-color: #fff;
    width: 100%;
    padding: 20px;
}
header .create-page form h4
{
    font-size: 20px;
    text-align: center;
    padding: 25px;
}
header .create-page form label
{
    color: #23273A;
    opacity: 0.7;
}
header .create-page input
{
    margin-top: 5px;
}
header .create-page ::placeholder
{
    color: #23273A;
}
header .create-page .form-group
{
    margin-bottom: 20px;
}
header .create-page form .level-flex
{
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(86, 88, 97, 0.411);
    padding: 3px;
    border-radius: 6px;
}
header .create-page form .level-flex select, input
{
    width: 100%;
    border: none;
    outline: none;
}
header .create-page form .level-flex select
{
    width: 70%;
    border-right: solid rgba(56, 58, 70, 0.357);
}
header .create-page form .level-flex input
{
    margin-left: 10px;
}
header .create-page form .level-flex select, input {
    width: auto;
    border: none;
    outline: none;
}
header .create-page form label {
    display: initial;
    font-size: 15px;
}
header .create-page form label a 
{
    display: inline-block;
    font-weight: 400;
    /* color: #12141f; */
    color: #FA4A6F;
}
header .create-page form button
{
    background-image: linear-gradient(to bottom, #FA4A6F, #532B79);
    color: #fff;
}
header .create-page form
{
    padding-bottom: 3rem;
    border-radius: 3px;
}

/* profile sectiton code start */
.sign-up
{
    position: relative;
    width: 230px;
    height: 250px;
    background: #fff;
    border-radius: 30px;
    z-index: 1;
}
.sign-up::before
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    background-image: linear-gradient(to bottom, #FA4A6F, #532B79);
    border-radius: 30px;
    z-index: -4;
    visibility: hidden;
    transition: .5s all;
}
.sign-up::after
{
    position: absolute;
    content: '';
    width: 228px;
    height: 248px;
    top: 0;
    left: 0;
    background: #ffffff;
    inset: 1px;
    border-radius: 30px;
    z-index: -2;
    visibility: hidden;
    transition: .5s all;
}
.sign-up:hover.sign-up::after,
.sign-up:hover.sign-up::before
{
    visibility: visible;
    transition: .5s all;
}
.sign-up p
{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 90px;
    padding: 40px 25px;
}
.sign-up a
{
    display: inline-block;
    margin: 15px 0;
    text-decoration: none;
    font-size: 22px;
    color: #23273A;
    font-weight: 400;
    transition: .5s all;
}
.sign-up:hover a
{
    color: #FA4A6F;
}
.sign-up a i
{
    margin-left: 60px;
    color: #FA4A6F;
    visibility: hidden;
    transition: .5s all;
}
.sign-up:hover a i
{
    visibility: visible;
}
.sign-up span
{
    font-size: 16px;
    font-weight: 400;
    color: #23273A;
}
/* profile sectiton code end */

/* featured profile section code start */
.featured
{
    background: #FBFAFE;
}
/* featured profile section code end */

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }

  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }
  .featured .card-profile
  {
    border-radius: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .featured .card-profile img
  {
    border-radius: 20px;
  }
  .featured .card-profile p
  {
    font-size: 18px;
    font-weight: 400;
    color: #FA4A6F;
    margin: 10px 0;
    padding: 0 10px;
  }
  .featured .card-profile p span
  {
    font-size: 14px;
    color: #23273A;
  }
  .featured .card-profile
  {
    background: #fff;
    transition: .5s all;
    cursor: pointer;
    box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 0.45);
  }
  .featured .card-profile img
  {
    transition: .5s all;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .slick-prev:before, .slick-next:before
  {
    color: #FA4A6F;
  }
  .slick-prev:before {
    position: absolute;
    content: '';
    background: url(../images/Icon/left-angel.png);
    width: 15px;
    height: 27px;
}
.slick-next:before {
    position: absolute;
    content: '';
    background: url(../images/Icon/right-angel.png);
    width: 15px;
    height: 27px;
}